Repository karaoke-dev/karaoke, pull requests merged in 2020-09, with the labels that each got.

#158 Update osu and fix things that broke
  osu.Game.Rulesets.Karaoke/Overlays/Changelog/ChangelogHeader.cs
  osu.Game.Rulesets.Karaoke/Overlays/KaraokeChangelogOverlay.cs
  osu.Game.Rulesets.Karaoke/UI/LyricPlayfield.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: bug, updates

#164 Display singer and note.
  osu.Game.Rulesets.Karaoke.Tests/Beatmaps/TestSceneBeatmapInfoWedge.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmap.cs
Labels: enhancement

#170 Able to show/hide ruby, romaji and translate in editor page
  osu.Game.Rulesets.Karaoke/Edit/KaraokeHitObjectComposer.cs
Labels: editor

#173 Remove legacy ruleset id
  osu.Game.Rulesets.Karaoke.Tests/Mods/KaraokeModPerfectTestScene.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/KaraokeModTestScene.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModAutoplay.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModAutoplayBySinger.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModDisableNote.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModFlashlight.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModFun.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModPerfect.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModPractice.cs
  osu.Game.Rulesets.Karaoke/KaraokeRuleset.cs
Labels: code quality

#174 Should display result screen
  osu.Game.Rulesets.Karaoke.Tests/Beatmaps/Formats/KaraokeLegacyBeatmapDecoderTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Edit/TestSceneTranslate.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModDisableNote.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModPerfect.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/Formats/KaraokeLegacyBeatmapDecoder.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/Formats/KaraokeLegacyBeatmapEncoder.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmap.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmapConverter.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmapExtension.cs
  osu.Game.Rulesets.Karaoke/Edit/DrawableKaraokeEditRuleset.cs
  osu.Game.Rulesets.Karaoke/Judgements/KaraokeJudgement.cs
  osu.Game.Rulesets.Karaoke/Judgements/KaraokeLyricJudgement.cs
  osu.Game.Rulesets.Karaoke/Judgements/KaraokeNoteJudgement.cs
  osu.Game.Rulesets.Karaoke/Judgements/NoteJudgement.cs
  osu.Game.Rulesets.Karaoke/Objects/Drawables/DrawableNote.cs
  osu.Game.Rulesets.Karaoke/Objects/LegacyPropertyDictionary.cs
  osu.Game.Rulesets.Karaoke/Objects/Note.cs
  osu.Game.Rulesets.Karaoke/UI/DrawableKaraokeRuleset.cs
  osu.Game.Rulesets.Karaoke/UI/LyricPlayfield.cs
  osu.Game.Rulesets.Karaoke/UI/NotePlayfield.cs
  osu.Game.Rulesets.Karaoke/UI/Overlays/Settings/ControlOverlay.cs
  osu.Game.Rulesets.Karaoke/UI/Overlays/Settings/PlayerSettings/TranslateSettings.cs
Labels: bug

#176 Display not scorable if beatmap is not scorable.
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModAutoplay.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModPerfect.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmap.cs
  osu.Game.Rulesets.Karaoke/UI/Components/SaitenStatus.cs
  osu.Game.Rulesets.Karaoke/UI/NotePlayfield.cs
  osu.Game.Rulesets.Karaoke/UI/Overlays/Settings/PlayerSettings/TranslateSettings.cs
  osu.Game.Rulesets.Karaoke/UI/Overlays/Settings/RightSideOverlay.cs
Labels: Selection, enhancement

#180 update nuget package.
  osu.Game.Rulesets.Karaoke/Edit/KaraokeHitObjectComposer.cs
  osu.Game.Rulesets.Karaoke/Edit/LyricEditor/LyricEditorScreen.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: still have bug, updates

#181 Apply blueprint change from official.
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmapConverter.cs
  osu.Game.Rulesets.Karaoke/Edit/Blueprints/KaraokeSelectionBlueprint.cs
  osu.Game.Rulesets.Karaoke/Edit/Blueprints/Lyrics/LyricSelectionBlueprint.cs
  osu.Game.Rulesets.Karaoke/Edit/Blueprints/Notes/Components/EditBodyPiece.cs
  osu.Game.Rulesets.Karaoke/Edit/Blueprints/Notes/NoteSelectionBlueprint.cs
  osu.Game.Rulesets.Karaoke/Edit/KaraokeBlueprintContainer.cs
  osu.Game.Rulesets.Karaoke/Edit/KaraokeSelectionHandler.cs
Labels: editor

#182 Re-write tone's calculation test case.
  osu.Game.Rulesets.Karaoke.Tests/Objects/ToneCalculationTest.cs
  osu.Game.Rulesets.Karaoke/Objects/Tone.cs
Labels: code quality

#179 Ranking result component
  osu.Game.Rulesets.Karaoke.Tests/Edit/TestSceneLyricRubyRomaji.cs
  osu.Game.Rulesets.Karaoke.Tests/Edit/TestSceneTranslate.cs
  osu.Game.Rulesets.Karaoke.Tests/Ranking/TestSceneSaitenResultGraph.cs
  osu.Game.Rulesets.Karaoke/Difficulty/KaraokeDifficultyCalculator.cs
  osu.Game.Rulesets.Karaoke/Edit/Blueprints/KaraokeSelectionBlueprint.cs
  osu.Game.Rulesets.Karaoke/Graphics/LyricPreview.cs
  osu.Game.Rulesets.Karaoke/Graphics/PreviewLyricSpriteText.cs
  osu.Game.Rulesets.Karaoke/KaraokeRuleset.cs
  osu.Game.Rulesets.Karaoke/Statistics/SaitenResultGraph.cs
  osu.Game.Rulesets.Karaoke/UI/Overlays/Settings/PlayerSettings/PracticeSettings.cs
Labels: result, still have bug
