Repository karaoke-dev/karaoke, pull requests merged in 2021-09, with the labels that each got.

#832 Update microphone package
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/CaretPosition/Algorithms/NavigateCaretPositionAlgorithm.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/CaretPosition/Algorithms/TypingCaretPositionAlgorithm.cs
  osu.Game.Rulesets.Karaoke/Graphics/UserInterface/MicrophoneSoundVisualizer.cs
  osu.Game.Rulesets.Karaoke/KaraokeInputManager.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: code quality, updates, size/M

#835 microphone preview should clear "default" or "no microphone device"
  osu.Game.Rulesets.Karaoke/Screens/Config/Previews/Input/MicrophoneDevicePreview.cs
Labels: bug, size/XS

#838 Fix the case that some section page is disappear.
  osu.Game.Rulesets.Karaoke/Edit/Components/EditorSubScreen.cs
Labels: bug, size/XS

#839 Update package
  osu.Game.Rulesets.Karaoke/Edit/Components/Cursor/InvalidLyricToolTip.cs
  osu.Game.Rulesets.Karaoke/Edit/Components/Cursor/LayoutToolTip.cs
  osu.Game.Rulesets.Karaoke/Edit/Components/Cursor/TimeTagTooltip.cs
  osu.Game.Rulesets.Karaoke/Edit/Components/EditorSubScreen.cs
  osu.Game.Rulesets.Karaoke/Edit/Layout/PositionSection.cs
  osu.Game.Rulesets.Karaoke/Edit/Layout/PreviewSection.cs
  osu.Game.Rulesets.Karaoke/Edit/Layout/RubyRomajiSection.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Extends/TimeTags/TimeTagCreateConfigSection.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Extends/TimeTags/TimeTagRecordingConfigSection.cs
  osu.Game.Rulesets.Karaoke/Edit/Style/LyricColorSection.cs
  osu.Game.Rulesets.Karaoke/Graphics/Cursor/BackgroundToolTip.cs
  osu.Game.Rulesets.Karaoke/Graphics/Cursor/LyricToolTip.cs
  osu.Game.Rulesets.Karaoke/Graphics/Cursor/SingerToolTip.cs
  osu.Game.Rulesets.Karaoke/Graphics/UserInterface/MicrophoneSoundVisualizer.cs
  osu.Game.Rulesets.Karaoke/Graphics/UserInterfaceV2/LabelledDropdown.cs
  osu.Game.Rulesets.Karaoke/Skinning/Metadatas/KaraokeSkin.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: updates, size/L

#842 Add singer section in singer in setup screen.
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Rows/Components/FixedInfo/InvalidInfo.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Rows/Components/Parts/DrawableTimeTag.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Rows/Extends/RecordingTimeTags/RecordingTimeTagPart.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Rows/Extends/TimeTags/TimeTagEditorHitObjectBlueprint.cs
  osu.Game.Rulesets.Karaoke/Edit/Setup/Components/LabelledSingerList.cs
  osu.Game.Rulesets.Karaoke/Edit/Setup/Components/SingerDisplay.cs
  osu.Game.Rulesets.Karaoke/Edit/Setup/Components/SingerList.cs
  osu.Game.Rulesets.Karaoke/Edit/Setup/KaraokeSetupSection.cs
  osu.Game.Rulesets.Karaoke/Edit/Singers/Rows/Components/Blueprints/SingerLyricEditorHitObjectBlueprint.cs
  osu.Game.Rulesets.Karaoke/Edit/Singers/Rows/SingerLyricPlacementRow.cs
  osu.Game.Rulesets.Karaoke/Statistics/BeatmapMetadataGraph.cs
Labels: editor

#843 Fix singer description now showing in tooltip.
  osu.Game.Rulesets.Karaoke/Graphics/Cursor/SingerToolTip.cs
Labels: bug, component, size/XS, Design

#844 Update package
  osu.Game.Rulesets.Karaoke.Tests/IO/Stores/BaseGlyphStoreTest.cs
  osu.Game.Rulesets.Karaoke.Tests/TestSceneOsuGame.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/LyricEditor.cs
  osu.Game.Rulesets.Karaoke/IO/Stores/TtfGlyphStore.cs
  osu.Game.Rulesets.Karaoke/Objects/Drawables/DrawableNote.cs
  osu.Game.Rulesets.Karaoke/Overlays/KaraokeChangelogOverlay.cs
  osu.Game.Rulesets.Karaoke/Screens/Config/KaraokeSettingsPanel.cs
  osu.Game.Rulesets.Karaoke/UI/NotePlayfield.cs
  osu.Game.Rulesets.Karaoke/UI/Overlays/SettingHUDOverlay.cs
  osu.Game.Rulesets.Karaoke/UI/Overlays/Settings/PlayerSettings/PlaybackSettings.cs
  osu.Game.Rulesets.Karaoke/UI/Overlays/Settings/PlayerSettings/PracticeSettings.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: bug, updates, size/M

#846 Fix cannot show changelog and dialogs
  osu.Game.Rulesets.Karaoke/Extensions/OsuGameExtensions.cs
  osu.Game.Rulesets.Karaoke/Screens/Config/SettingsFont.cs
  osu.Game.Rulesets.Karaoke/Screens/Config/SettingsLanguage.cs
  osu.Game.Rulesets.Karaoke/UI/KaraokeSettingsSubsection.cs
Labels: bug, size/S

#847 fix grammar errors and convert the dialog into osu! style
  osu.Game.Rulesets.Karaoke/Edit/Checks/CheckTranslate.cs
  osu.Game.Rulesets.Karaoke/Edit/ImportLyric/EditLyric/EditLyricSubScreen.cs
  osu.Game.Rulesets.Karaoke/Edit/ImportLyric/RollBackResetPopupDialog.cs
  osu.Game.Rulesets.Karaoke/Edit/Layout/Components/DeleteLayoutDialog.cs
  osu.Game.Rulesets.Karaoke/Edit/Layout/PreviewSection.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/DeleteLyricDialog.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/LyricManager.cs
  osu.Game.Rulesets.Karaoke/Edit/Setup/KaraokeSetupSection.cs
  osu.Game.Rulesets.Karaoke/Edit/Singers/DeleteSingerDialog.cs
  osu.Game.Rulesets.Karaoke/Edit/Style/LyricColorSection.cs
  osu.Game.Rulesets.Karaoke/Edit/Translate/DeleteLanguagePopupDialog.cs
  osu.Game.Rulesets.Karaoke/Edit/Translate/TranslateScreen.cs
  osu.Game.Rulesets.Karaoke/Screens/Config/Sections/Graphics/NoteFontSettings.cs
Labels: size/M

#849 Add more repo link in changelog.
  osu.Game.Rulesets.Karaoke/Overlays/Changelog/ChangeLogMarkdownContainer.cs
Labels: bug, size/S

#851 Fix the case that text will disappear if drag ruby position.
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: bug, size/XS

#852 Able to adjust ruby romaji margin in config page.
  osu.Game.Rulesets.Karaoke/Configuration/KaraokeRulesetConfigManager.cs
  osu.Game.Rulesets.Karaoke/Objects/Drawables/DrawableLyric.cs
  osu.Game.Rulesets.Karaoke/Screens/Config/Previews/Gameplay/LyricPreview.cs
  osu.Game.Rulesets.Karaoke/Screens/Config/Sections/Graphics/LyricFontSettings.cs
Labels: bug, size/M

#855 Update osu.game package.
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: updates, size/XS
