Repository karaoke-dev/karaoke, pull requests merged in 2022-04, with the labels that each got.

#1251 Fix the caret position is not by order after dragged.
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/CaretPosition/Algorithms/CaretPositionAlgorithm.cs
Labels: bug, size/XS

#1250 Fix wrong lyric order in the tralslate and singer screen.
  osu.Game.Rulesets.Karaoke.Tests/Editor/Lyrics/States/LyricCaretStateTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/TestSceneLyricEditorScreen.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/TestSceneSingerScreen.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/TestSceneTranslateScreen.cs
  osu.Game.Rulesets.Karaoke/Edit/ILyricsProvider.cs
  osu.Game.Rulesets.Karaoke/Edit/ImportLyric/LyricImporter.cs
  osu.Game.Rulesets.Karaoke/Edit/KaraokeEditor.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/LyricEditor.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/States/LyricCaretState.cs
  osu.Game.Rulesets.Karaoke/Edit/LyricsProvider.cs
  osu.Game.Rulesets.Karaoke/Edit/Singers/Rows/Components/SingerLyricEditor.cs
  osu.Game.Rulesets.Karaoke/Edit/Singers/Rows/Components/SingerLyricEditorBlueprintContainer.cs
  osu.Game.Rulesets.Karaoke/Edit/Translate/ITranslateInfoProvider.cs
  osu.Game.Rulesets.Karaoke/Edit/Translate/TranslateEditSection.cs
  osu.Game.Rulesets.Karaoke/Edit/Translate/TranslateScreen.cs
Labels: bug, code quality, editor, size/L

#1253 Add code owner
  .github/CODEOWNERS
Labels: code quality, size/S

#1255 Fix cannot submit the text if only contains spacing.
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Rows/Components/Carets/DrawableLyricInputCaret.cs
Labels: bug, size/XS

#1256 Fix back button issue in the import lyric screen
  osu.Game.Rulesets.Karaoke/Edit/ImportLyric/DragFile/DragFileStepScreen.cs
  osu.Game.Rulesets.Karaoke/Edit/ImportLyric/Header.cs
  osu.Game.Rulesets.Karaoke/Edit/ImportLyric/ILyricImporterStepScreen.cs
  osu.Game.Rulesets.Karaoke/Edit/ImportLyric/ImportLyricManager.cs
  osu.Game.Rulesets.Karaoke/Edit/ImportLyric/LyricImporter.cs
  osu.Game.Rulesets.Karaoke/Edit/ImportLyric/LyricImporterStepScreen.cs
  osu.Game.Rulesets.Karaoke/Edit/ImportLyric/RollBackResetPopupDialog.cs
Labels: bug, code quality, size/M

#1260 Update nuget package.
  osu.Game.Rulesets.Karaoke.Tests/Difficulty/KaraokeDifficultyCalculatorTest.cs
  osu.Game.Rulesets.Karaoke/Mods/KaraokeModAutoplay.cs
  osu.Game.Rulesets.Karaoke/Mods/KaraokeModAutoplayBySinger.cs
  osu.Game.Rulesets.Karaoke/Mods/KaraokeModPractice.cs
  osu.Game.Rulesets.Karaoke/Replays/KaraokeAutoGeneratorBySinger.cs
  osu.Game.Rulesets.Karaoke/Skinning/Fonts/BitmapFontImageGenerator.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: updates, size/M

#1261 Clean up code.
  osu.Game.Rulesets.Karaoke.Tests/Editor/Checks/CheckTranslateTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Ranking/TestSceneHitEventTimingDistributionGraph.cs
  osu.Game.Rulesets.Karaoke.Tests/Utils/NotesUtilsTest.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/Formats/KaraokeLegacyBeatmapDecoder.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/Formats/NicoKaraDecoder.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/BeatmapPropertyChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Languages/LanguagesChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Singers/SingersChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/Components/Containers/EditorScrollContainer.cs
  osu.Game.Rulesets.Karaoke/Edit/Components/Menus/EnumMenu.cs
  osu.Game.Rulesets.Karaoke/Edit/Components/Menus/LockStateMenu.cs
  osu.Game.Rulesets.Karaoke/Edit/Components/Menus/LyricEditorModeMenu.cs
  osu.Game.Rulesets.Karaoke/Edit/Configs/Generator/Languages/AcceptLanguagesSection.cs
  osu.Game.Rulesets.Karaoke/Edit/Export/ExportLyricManager.cs
  osu.Game.Rulesets.Karaoke/Edit/Generator/TimeTags/Ja/JaTimeTagGenerator.cs
  osu.Game.Rulesets.Karaoke/Edit/KaraokeHitObjectComposer.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/LyricEditorScreen.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Rows/Components/TextTagBlueprintContainer.cs
  osu.Game.Rulesets.Karaoke/Edit/Translate/DeleteLanguagePopupDialog.cs
  osu.Game.Rulesets.Karaoke/Graphics/Cursor/SingerToolTip.cs
  osu.Game.Rulesets.Karaoke/Graphics/UserInterface/MicrophoneSoundVisualizer.cs
  osu.Game.Rulesets.Karaoke/IO/Serialization/Converters/RomajiTagsConverter.cs
  osu.Game.Rulesets.Karaoke/IO/Serialization/Converters/RubyTagsConverter.cs
  osu.Game.Rulesets.Karaoke/IO/Serialization/Converters/SortableJsonConvertor.cs
  osu.Game.Rulesets.Karaoke/IO/Serialization/Converters/TimeTagsConverter.cs
  osu.Game.Rulesets.Karaoke/IO/Stores/KaraokeLocalFontStore.cs
  osu.Game.Rulesets.Karaoke/Replays/KaraokeAutoGenerator.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/GenericEditor.cs
  osu.Game.Rulesets.Karaoke/UI/HUD/GeneralSettingOverlay.cs
  osu.Game.Rulesets.Karaoke/Utils/NotesUtils.cs
  osu.Game.Rulesets.Karaoke/Utils/TextIndexUtils.cs
Labels: code quality, size/L

#1263 Re-word README.md
  README.md
Labels: size/S

#1267 Update package to the latest.
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: updates, size/XS

#1266 Interact with localizaton
  .config/dotnet-tools.json
  .github/CODEOWNERS
  crowdin.yml
  osu.Game.Rulesets.Karaoke/Localisation/Common.ja.resx
  osu.Game.Rulesets.Karaoke/Localisation/Common.resx
  osu.Game.Rulesets.Karaoke/Localisation/Common.zh-TW.resx
  osu.Game.Rulesets.Karaoke/Localisation/Common.zh.resx
  osu.Game.Rulesets.Karaoke/Localisation/CommonStrings.cs
  osu.Game.Rulesets.Karaoke/Localisation/KaraokeSettingsSubsection.ja.resx
  osu.Game.Rulesets.Karaoke/Localisation/KaraokeSettingsSubsection.resx
  osu.Game.Rulesets.Karaoke/Localisation/KaraokeSettingsSubsection.zh-TW.resx
  osu.Game.Rulesets.Karaoke/Localisation/KaraokeSettingsSubsection.zh.resx
  osu.Game.Rulesets.Karaoke/Localisation/KaraokeSettingsSubsectionStrings.cs
  osu.Game.Rulesets.Karaoke/UI/KaraokeSettingsSubsection.cs
Labels: enhancement, still have bug, size/XL

#1268 Add some translation
  osu.Game.Rulesets.Karaoke/Localisation/ChangelogSection.resx
  osu.Game.Rulesets.Karaoke/Localisation/ChangelogStrings.cs
  osu.Game.Rulesets.Karaoke/Overlays/Changelog/ChangelogBuild.cs
  osu.Game.Rulesets.Karaoke/Overlays/Changelog/Sidebar/ChangelogSection.cs
Labels: size/M, localization

#1271 Add localization badge
  README.md
Labels: size/XS, localization

#1272 New Crowdin updates
  osu.Game.Rulesets.Karaoke/Localisation/ChangelogSection.ja.resx
  osu.Game.Rulesets.Karaoke/Localisation/ChangelogSection.zh-TW.resx
  osu.Game.Rulesets.Karaoke/Localisation/ChangelogSection.zh.resx
Labels: size/L

#1273 Running clean up code script.
  osu.Game.Rulesets.Karaoke.Tests/IO/Serialization/Converters/KaraokeSkinElementConvertorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/IO/Serialization/Converters/ShaderConvertorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Resources/Testing/Track/demo.json
  osu.Game.Rulesets.Karaoke.Tests/Resources/special-skin/default-mapping-roles.json
  osu.Game.Rulesets.Karaoke.Tests/Resources/special-skin/groups.json
  osu.Game.Rulesets.Karaoke.Tests/Utils/BindablesUtilsTest.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Extends/TimeTags/TimeTagCreateConfigSubsection.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/States/LyricCaretState.cs
  osu.Game.Rulesets.Karaoke/ILRepack.targets
  osu.Game.Rulesets.Karaoke/Localisation/KaraokeSettingsSubsectionStrings.cs
  osu.Game.Rulesets.Karaoke/Overlays/Changelog/Sidebar/ChangelogSection.cs
  osu.Game.Rulesets.Karaoke/Resources/Skin/Default/default-mapping-roles.json
  osu.Game.Rulesets.Karaoke/Resources/Skin/Default/groups.json
  osu.Game.Rulesets.Karaoke/UI/KaraokeSettingsSubsection.cs
Labels: code quality, size/XL

#1274 Fix shader effect cannot work in the osx.
  osu.Game.Rulesets.Karaoke/Skinning/Tools/SkinConvertorTool.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: bug, size/S

#1275 Adjust style in the lyric editor
  osu.Game.Rulesets.Karaoke.Tests/KaraokeTestBrowser.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/Formats/NicoKaraDecoder.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/LyricEditor.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/LyricEditorSkin.cs
  osu.Game.Rulesets.Karaoke/Skinning/Elements/LyricStyle.cs
Labels: skin, LyricMaker, size/M

#1276 Adjust localization.
  crowdin.yml
  osu.Game.Rulesets.Karaoke/Localisation/ChangelogSection.zh-Hant.resx
  osu.Game.Rulesets.Karaoke/Localisation/Common.zh-Hant.resx
  osu.Game.Rulesets.Karaoke/Localisation/KaraokeSettingsSubsection.zh-Hant.resx
Labels: size/XS, localization

#1277 update osu.Game to the latest.
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: updates, size/XS

#1279 Fix config style messy issue.
  osu.Game.Rulesets.Karaoke/Screens/Settings/KaraokeSettingsSection.cs
Labels: bug, size/XS

#1281 Refactor lyric preview component
  osu.Game.Rulesets.Karaoke/Edit/Translate/Components/TranslateLyricSpriteText.cs
  osu.Game.Rulesets.Karaoke/Graphics/Cursor/LyricToolTip.cs
  osu.Game.Rulesets.Karaoke/Graphics/Sprites/PreviewLyricSpriteText.cs
  osu.Game.Rulesets.Karaoke/Mods/KaraokeModPractice.cs
  osu.Game.Rulesets.Karaoke/Statistics/SaitenResultGraph.cs
  osu.Game.Rulesets.Karaoke/UI/HUD/PracticeOverlay.cs
  osu.Game.Rulesets.Karaoke/UI/PlayerSettings/LyricsPreview.cs
  osu.Game.Rulesets.Karaoke/UI/PlayerSettings/PracticeSettings.cs
Labels: code quality, size/L

#1282 Refactor singing lyrics collect loglc.
  osu.Game.Rulesets.Karaoke/Configuration/KaraokeSessionStatics.cs
  osu.Game.Rulesets.Karaoke/Difficulty/KaraokeDifficultyCalculator.cs
  osu.Game.Rulesets.Karaoke/Judgements/KaraokeLyricJudgement.cs
  osu.Game.Rulesets.Karaoke/Objects/Drawables/DrawableLyric.cs
  osu.Game.Rulesets.Karaoke/Objects/KaraokeHitObject.cs
  osu.Game.Rulesets.Karaoke/Objects/Lyric.cs
  osu.Game.Rulesets.Karaoke/Objects/Note.cs
  osu.Game.Rulesets.Karaoke/Scoring/KaraokeHitWindows.cs
  osu.Game.Rulesets.Karaoke/Scoring/KaraokeLyricHitWindows.cs
  osu.Game.Rulesets.Karaoke/Scoring/KaraokeNoteHitWindows.cs
  osu.Game.Rulesets.Karaoke/Screens/Settings/Previews/Gameplay/LyricPreview.cs
  osu.Game.Rulesets.Karaoke/Screens/Settings/Previews/Gameplay/NotePlayfieldPreview.cs
  osu.Game.Rulesets.Karaoke/UI/LyricPlayfield.cs
  osu.Game.Rulesets.Karaoke/UI/PlayerSettings/LyricsPreview.cs
  osu.Game.Rulesets.Karaoke/UI/PlayerSettings/PracticeSettings.cs
Labels: code quality, size/L, Playfield

#1283 Do not pass beatmap in practice overlay.
  osu.Game.Rulesets.Karaoke.Tests/Skinning/TestSceneNotePlayfield.cs
  osu.Game.Rulesets.Karaoke.Tests/UI/TestSceneControlLayer.cs
  osu.Game.Rulesets.Karaoke.Tests/UI/TestSceneNotePlayfield.cs
  osu.Game.Rulesets.Karaoke/Mods/KaraokeModPractice.cs
  osu.Game.Rulesets.Karaoke/Screens/Skin/Style/NoteStylePreview.cs
  osu.Game.Rulesets.Karaoke/UI/HUD/GeneralSettingOverlay.cs
  osu.Game.Rulesets.Karaoke/UI/HUD/PracticeOverlay.cs
  osu.Game.Rulesets.Karaoke/UI/HUD/SettingOverlayContainer.cs
  osu.Game.Rulesets.Karaoke/UI/PlayerSettings/LyricsPreview.cs
  osu.Game.Rulesets.Karaoke/UI/PlayerSettings/PracticeSettings.cs
  osu.Game.Rulesets.Karaoke/UI/PlayerSettings/TranslateSettings.cs
Labels: code quality, size/L

#1284 Fix lyric playback issue.
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Rows/Components/EditorLyricPiece.cs
  osu.Game.Rulesets.Karaoke/Objects/Drawables/DrawableLyric.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: bug, size/S

#1286 Refactor the gameplay setting overlay.
  osu.Game.Rulesets.Karaoke/UI/HUD/GeneralSettingOverlay.cs
  osu.Game.Rulesets.Karaoke/UI/HUD/PracticeOverlay.cs
  osu.Game.Rulesets.Karaoke/UI/HUD/SettingButton.cs
  osu.Game.Rulesets.Karaoke/UI/HUD/SettingOverlay.cs
  osu.Game.Rulesets.Karaoke/UI/PlayerSettings/LyricsPreview.cs
  osu.Game.Rulesets.Karaoke/UI/PlayerSettings/PracticeSettings.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: bug, code quality, size/L, Design

#1287 Update nuget package.
  osu.Game.Rulesets.Karaoke.Tests/Editor/TestSceneKaraokeEditor.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/TestSceneLyricEditorScreen.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/TestSceneLyricImporter.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/TestSceneSingerScreen.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/TestSceneTranslateScreen.cs
  osu.Game.Rulesets.Karaoke/Edit/ImportLyric/DragFile/DragFileStepScreen.cs
  osu.Game.Rulesets.Karaoke/Edit/ImportLyric/LyricImporterStepScreen.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Rows/EditLyricRow.cs
  osu.Game.Rulesets.Karaoke/Edit/Singers/Rows/SingerLyricPlacementRow.cs
  osu.Game.Rulesets.Karaoke/Edit/Translate/Components/RemoveLanguageButton.cs
  osu.Game.Rulesets.Karaoke/Screens/Skin/Layout/Components/DrawableLayoutListItem.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: bug, updates, size/M, ruleset-api-changed :boom:

#1289 Refactor the usage of DefaultLyricPiece
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Rows/Components/EditorLyricPiece.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Rows/Extends/Components/TimeTagEditorScrollContainer.cs
  osu.Game.Rulesets.Karaoke/Edit/Lyrics/Rows/TimeTagLayer.cs
  osu.Game.Rulesets.Karaoke/Edit/Translate/Components/TranslateLyricSpriteText.cs
  osu.Game.Rulesets.Karaoke/Graphics/Cursor/LyricToolTip.cs
  osu.Game.Rulesets.Karaoke/Graphics/Sprites/DrawableKaraokeSpriteText.cs
  osu.Game.Rulesets.Karaoke/Graphics/Sprites/DrawableLyricSpriteText.cs
  osu.Game.Rulesets.Karaoke/Graphics/Sprites/PreviewLyricSpriteText.cs
  osu.Game.Rulesets.Karaoke/Objects/Lyric.cs
  osu.Game.Rulesets.Karaoke/Objects/RomajiTag.cs
  osu.Game.Rulesets.Karaoke/Objects/RubyTag.cs
  osu.Game.Rulesets.Karaoke/Objects/TimeTag.cs
  osu.Game.Rulesets.Karaoke/Skinning/Default/DefaultLyricPiece.cs
  osu.Game.Rulesets.Karaoke/Statistics/SaitenResultGraph.cs
  osu.Game.Rulesets.Karaoke/UI/PlayerSettings/LyricsPreview.cs
Labels: code quality, size/XL

#1290 Update the package to the latest to improve around 1.5x of the performance.
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: performance, size/XS
