Repository karaoke-dev/karaoke, pull requests merged in 2023-08, with the labels that each got.

#2085 Make some method static.
  osu.Game.Rulesets.Karaoke.Tests/Screens/Edit/Beatmap/Lyrics/CaretPosition/Algorithms/BaseCaretPositionAlgorithmTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Screens/Edit/Beatmap/Lyrics/CaretPosition/Algorithms/BaseIndexCaretPositionAlgorithmTest.cs
Labels: code quality, size/S

#2086 Create ActivatorUtils for able to create the utility with target type.
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/BaseChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Generator/BaseGeneratorSelectorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Generator/BasePropertyDetectorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Generator/BasePropertyGeneratorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Screens/Edit/Beatmap/Lyrics/CaretPosition/Algorithms/BaseCaretPositionAlgorithmTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Screens/Edit/Beatmap/Lyrics/CaretPosition/Algorithms/BaseIndexCaretPositionAlgorithmTest.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/Metadatas/PageInfo.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Lyrics/LyricPropertyChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/Generator/GeneratorSelector.cs
  osu.Game.Rulesets.Karaoke/IO/Serialization/Converters/LyricConverter.cs
  osu.Game.Rulesets.Karaoke/Utils/ActivatorUtils.cs
Labels: code quality, size/L

#2088 Implement base class for the stage element generator
  osu.Game.Rulesets.Karaoke.Tests/Editor/Generator/Beatmaps/Stages/BaseStageElementCategoryGeneratorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Generator/Beatmaps/Stages/BaseStageInfoPropertyGeneratorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Generator/Beatmaps/Stages/Classic/ClassicLyricTimingInfoGeneratorTest.cs
  osu.Game.Rulesets.Karaoke/Edit/Generator/Beatmaps/Stages/Classic/ClassicLyricLayoutCategoryGenerator.cs
  osu.Game.Rulesets.Karaoke/Edit/Generator/Beatmaps/Stages/Classic/ClassicLyricTimingInfoGenerator.cs
  osu.Game.Rulesets.Karaoke/Edit/Generator/Beatmaps/Stages/StageInfoPropertyGenerator.cs
Labels: size/M

#2092 Update package to the latest.
  osu.Game.Rulesets.Karaoke/Screens/Edit/GenericEditor.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: updates, size/XS

#2094 Should be able to compare the caret position.
  osu.Game.Rulesets.Karaoke.Tests/Screens/Edit/Beatmap/Lyrics/CaretPosition/IndexCaretPositionTest.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/CaretPosition/CreateRubyTagCaretPosition.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/CaretPosition/CuttingCaretPosition.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/CaretPosition/IIndexCaretPosition.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/CaretPosition/TimeTagCaretPosition.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/CaretPosition/TimeTagIndexCaretPosition.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/CaretPosition/TypingCaretPosition.cs
Labels: editor, size/L

#2095 Rename property in caret state.
  osu.Game.Rulesets.Karaoke.Tests/Screens/Edit/Beatmap/Lyrics/States/LyricCaretStateTest.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Components/Lyrics/InteractableLyric.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/ILyricCaretState.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/LyricCaretState.cs
Labels: code quality, editor, size/M

#2096 Adjust the drag range caret position interface.
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/ILyricCaretState.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/LyricCaretState.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/RangeCaretPosition.cs
Labels: code quality, editor, size/M

#2098 Adjust the caret state behavior.
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/ILyricCaretState.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/LyricCaretState.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/RangeCaretPosition.cs
Labels: code quality, editor, size/L

#2099 Make typing caret draggable.
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Components/Lyrics/CaretLayer.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Components/Lyrics/Carets/DrawableCaret.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Components/Lyrics/Carets/DrawableTypingCaret.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Components/Lyrics/Carets/ICanAcceptRangeIndex.cs
Labels: editor, size/L

#2104 Fix singer editor not loading
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Singers/SingerScreen.cs
Labels: size/S

#2107 Add contribution guideline.
  CONTRIBUTING.md
Labels: good first issue, size/M

#2108 Regular clean up code.
  osu.Game.Rulesets.Karaoke.Tests/Overlays/TestSceneKaraokeChangeLogMarkdownContainer.cs
  osu.Game.Rulesets.Karaoke.Tests/Overlays/TestSceneKaraokeChangeLogOverlay.cs
  osu.Game.Rulesets.Karaoke.Tests/Screens/TestManageFontPreview.cs
  osu.Game.Rulesets.Karaoke.Tests/Screens/TestSceneGeneratorConfigPopover.cs
  osu.Game.Rulesets.Karaoke.Tests/VisualTestRunner.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/Formats/KaraokeLegacyBeatmapDecoder.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmap.cs
  osu.Game.Rulesets.Karaoke/Bindables/BindableCultureInfo.cs
  osu.Game.Rulesets.Karaoke/Bindables/BindableFontUsage.cs
  osu.Game.Rulesets.Karaoke/Graphics/Overlays/Dialog/OkPopupDialog.cs
  osu.Game.Rulesets.Karaoke/Graphics/Sprites/DrawableSingerAvatar.cs
  osu.Game.Rulesets.Karaoke/Graphics/UserInterface/CircleCheckbox.cs
  osu.Game.Rulesets.Karaoke/Graphics/UserInterfaceV2/FontSelector.cs
  osu.Game.Rulesets.Karaoke/Graphics/UserInterfaceV2/LanguageSelector.cs
  osu.Game.Rulesets.Karaoke/IO/Stores/TtfGlyphStore.cs
  osu.Game.Rulesets.Karaoke/Mods/KaraokeModHiddenNote.cs
  osu.Game.Rulesets.Karaoke/Mods/KaraokeModSnow.cs
  osu.Game.Rulesets.Karaoke/Overlays/Changelog/ChangeLogMarkdownContainer.cs
  osu.Game.Rulesets.Karaoke/Overlays/KaraokeChangelogOverlay.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Components/UserInterfaceV2/LyricSelector.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/DeleteLyricDialog.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/LyricEditor.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/LyricEditorColourProvider.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Pages/Settings/ConfirmReGeneratePageDialog.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Singers/DeleteSingerDialog.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Translate/DeleteLanguagePopupDialog.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Components/UserInterface/LanguagesSelector.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Import/Lyrics/AssignLanguage/UseLanguageDetectorPopupDialog.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Import/Lyrics/DragFile/DragFileStepScreen.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Import/Lyrics/DragFile/ImportLyricDialog.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Import/Lyrics/GenerateRubyRomaji/UseAutoGenerateRomajiPopupDialog.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Import/Lyrics/GenerateRubyRomaji/UseAutoGenerateRubyPopupDialog.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Import/Lyrics/GenerateTimeTag/AlreadyContainTimeTagPopupDialog.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Import/Lyrics/GenerateTimeTag/UseAutoGenerateTimeTagPopupDialog.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Import/Lyrics/RollBackPopupDialog.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Import/Lyrics/RollBackResetPopupDialog.cs
  osu.Game.Rulesets.Karaoke/Screens/Settings/Header.cs
  osu.Game.Rulesets.Karaoke/Screens/Settings/KaraokeSettings.cs
  osu.Game.Rulesets.Karaoke/Screens/Settings/KaraokeSettingsColourProvider.cs
  osu.Game.Rulesets.Karaoke/Screens/Settings/KaraokeVersionManager.cs
  osu.Game.Rulesets.Karaoke/Screens/Settings/Previews/Graphics/ManageFontPreview.cs
  osu.Game.Rulesets.Karaoke/Skinning/Elements/InvalidDrawableTypeException.cs
  osu.Game.Rulesets.Karaoke/Skinning/Fonts/FontManager.cs
  osu.Game.Rulesets.Karaoke/Statistics/BeatmapMetadataGraph.cs
  osu.Game.Rulesets.Karaoke/UI/Components/BeatmapCoverInfo.cs
  osu.Game.Rulesets.Karaoke/Utils/VersionUtils.cs
Labels: code quality, size/L

#2109 Move create time tag caret mode out of config.
  osu.Game.Rulesets.Karaoke/Configuration/KaraokeRulesetLyricEditorConfigManager.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/Notes/NoteEditPropertyModeSection.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/Notes/NoteEditPropertySection.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/TimeTags/TimeTagCreateConfigSection.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/TimeTags/TimeTagCreateConfigSubsection.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/LyricCaretState.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/Modes/CreateTimeTagEditMode.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/Modes/EditNoteModeState.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/Modes/IEditNoteModeState.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/Modes/ITimeTagModeState.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/Modes/TimeTagModeState.cs
Labels: code quality, editor, LyricMaker, size/M
