Repository karaoke-dev/karaoke, pull requests merged in 2024-06, with the labels that each got.

#2241 Refactor switc subsection
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/EditModeSwitchSubsection.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/Ruby/RubyTagEditModeSubsection.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/SwitchSubsection.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/EditorSettingsHeader.cs
Labels: code quality, size/L

#2242 Implement switch create type section
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Components/Lyrics/Carets/DrawableCreateRemoveTimeTagCaret.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/LyricEditor.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/TimeTags/CreateTimeTagActionSection.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/TimeTags/CreateTimeTagTypeSubsection.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/Modes/CreateTimeTagType.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/Modes/EditTimeTagModeState.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/Modes/IEditTimeTagModeState.cs
Labels: LyricMaker, size/L, Design

#2243 Remove the create/remove time-tag button in the toolbar.
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Compose/SpecialActionToolbar.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Compose/Toolbar/TimeTags/CreateTimeTagButton.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Compose/Toolbar/TimeTags/RemoveTimeTagButton.cs
Labels: LyricMaker, size/M

#2247 Rename the layout property in the lyric editor.
  osu.Game.Rulesets.Karaoke.Tests/Screens/Edit/Beatmap/Lyrics/LyricEditorTest.cs
  osu.Game.Rulesets.Karaoke/Configuration/KaraokeRulesetLyricEditorConfigManager.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/LyricEditor.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/LyricEditorLayout.cs
Labels: code quality, LyricMaker, size/M

#2248 Upgrade package.
  osu.Game.Rulesets.Karaoke.Architectures/osu.Game.Rulesets.Karaoke.Architectures.csproj
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/BaseChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Skinning/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmapProcessor.cs
  osu.Game.Rulesets.Karaoke/Graphics/UserInterfaceV2/LabelledRealTimeSliderBar.cs
  osu.Game.Rulesets.Karaoke/Graphics/UserInterfaceV2/LanguageSelector.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Components/UserInterfaceV2/LanguageSelectorPopover.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Components/UserInterfaceV2/LyricSelector.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Components/Lyrics/Blueprints/RubyBlueprintContainer.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Components/Lyrics/Blueprints/RubyTagSelectionBlueprint.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Components/Lyrics/Carets/DrawableCreateRubyTagCaret.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Components/Lyrics/Carets/DrawableTypingCaret.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Compose/BottomEditor/Notes/NoteEditPopover.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Compose/LyricComposer.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/LyricEditorVerifier.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/LabelledObjectFieldTextBox.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/Reference/LabelledReferenceLyricSelector.cs
  osu.Game.Rulesets.Karaoke/Skinning/Legacy/LegacyHitExplosion.cs
  osu.Game.Rulesets.Karaoke/Skinning/Legacy/LegacyNotePiece.cs
  osu.Game.Rulesets.Karaoke/UI/DrawableNoteJudgement.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: updates, size/L

#2249 Fix typo in README.md
  README.md
Labels: size/XS
