Repository karaoke-dev/karaoke, pull requests merged in 2024-09, with the labels that each got.

#2280 Upgrade the package to the latest.
  osu.Game.Rulesets.Karaoke/KaraokeSkinComponentLookup.cs
  osu.Game.Rulesets.Karaoke/Skinning/Default/KaraokeDefaultSkinTransformer.cs
  osu.Game.Rulesets.Karaoke/Skinning/Legacy/KaraokeLegacySkinTransformer.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: updates, size/S

#2281 Add special badge at the start of the changelog item.
  osu.Game.Rulesets.Karaoke/Online/API/Requests/Responses/APIChangelogBuild.cs
  osu.Game.Rulesets.Karaoke/Overlays/Changelog/ChangeLogMarkdownContainer.cs
  osu.Game.Rulesets.Karaoke/Overlays/Changelog/ChangelogBadgeInfo.cs
  osu.Game.Rulesets.Karaoke/Overlays/Changelog/ChangelogPullRequestInfo.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Content/Components/Lyrics/Carets/DrawableRecordingTimeTagCaret.cs
Labels: enhancement, size/L

#2282 Rename from "language" to "translation" in some classes.
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/Beatmaps/BeatmapTranslationsChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Beatmaps/BeatmapTranslationsChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Beatmaps/IBeatmapTranslationsChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Translations/Components/CreateNewTranslationButton.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Translations/Components/RemoveTranslationButton.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Translations/TranslationEditSection.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Translations/TranslationScreen.cs
Labels: code quality, size/M

#2283 Update framework to the latest.
  osu.Game.Rulesets.Karaoke.Architectures/osu.Game.Rulesets.Karaoke.Architectures.csproj
  osu.Game.Rulesets.Karaoke.Tests/osu.Game.Rulesets.Karaoke.Tests.csproj
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: size/S

#2284 Add translation edit section to the editor.
  osu.Game.Rulesets.Karaoke/Edit/Setup/Components/LabelledLanguageList.cs
  osu.Game.Rulesets.Karaoke/Edit/Setup/Components/LanguageList.cs
  osu.Game.Rulesets.Karaoke/Edit/Setup/KaraokeTranslationSection.cs
  osu.Game.Rulesets.Karaoke/Graphics/UserInterfaceV2/LanguageSelectorPopover.cs
  osu.Game.Rulesets.Karaoke/KaraokeRuleset.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Content/Components/Badges/LanguageBadge.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/Language/AssignLanguageSubsection.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Translations/Components/CreateNewTranslationButton.cs
  osu.Game.Rulesets.Karaoke/Screens/Settings/SettingsLanguage.cs
Labels: editor, size/L

#2285 Add translation of Karaoke for Simplified Chinese
  osu.Game.Rulesets.Karaoke/Screens/Settings/Previews/Gameplay/LyricPreview.cs
Labels: size/XS

#2288 Regular clean up code.
  .editorconfig
  osu.Game.Rulesets.Karaoke.Tests/Integration/Formats/KarDecoderTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Integration/Formats/LrcEncoderTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Skinning/TestSceneDrawableJudgement.cs
  osu.Game.Rulesets.Karaoke.sln.DotSettings
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmapProcessor.cs
  osu.Game.Rulesets.Karaoke/Edit/Debugging/DebugBeatmapManager.cs
  osu.Game.Rulesets.Karaoke/Edit/Generator/Beatmaps/Pages/PageGenerator.cs
  osu.Game.Rulesets.Karaoke/Edit/Setup/Components/SingerDisplay.cs
  osu.Game.Rulesets.Karaoke/Extensions/ListExtensions.cs
  osu.Game.Rulesets.Karaoke/Mods/KaraokeModSnow.cs
  osu.Game.Rulesets.Karaoke/Objects/Drawables/DrawableLyric.cs
  osu.Game.Rulesets.Karaoke/Objects/Drawables/DrawableNote.cs
  osu.Game.Rulesets.Karaoke/Objects/Utils/LyricsUtils.cs
  osu.Game.Rulesets.Karaoke/Objects/Workings/LyricWorkingPropertyValidator.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Content/Components/FixedInfo/InvalidInfo.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Content/Components/Lyrics/InteractableLyric.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Content/Compose/LyricEditor.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/Romanisation/Components/LabelledRomanisedTextBox.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/TimeTags/TapButton.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/States/LyricCaretState.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/IssueSection.cs
  osu.Game.Rulesets.Karaoke/Statistics/BeatmapMetadataGraph.cs
  osu.Game.Rulesets.Karaoke/UI/PlayerSettings/ClickablePlayerSliderBar.cs
Labels: code quality, size/L

#2289 Separate singer and singer state into different list
  osu.Game.Rulesets.Karaoke.Tests/Beatmaps/Metadatas/SingerInfoTest.cs
  osu.Game.Rulesets.Karaoke.Tests/IO/Serialization/Converters/SingerConverterTest.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/Metadatas/SingerInfo.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Beatmaps/BeatmapSingersChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Beatmaps/IBeatmapSingersChangeHandler.cs
  osu.Game.Rulesets.Karaoke/IO/Serialization/Converters/SingerConverter.cs
  osu.Game.Rulesets.Karaoke/IO/Serialization/KaraokeJsonSerializableExtensions.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/Singers/SingerEditSection.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Singers/SingerRearrangeableList.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Singers/SingerRearrangeableListItem.cs
Labels: encoder/decoder, size/L

#2290 Improve singer section.
  osu.Game.Rulesets.Karaoke/Edit/Setup/Components/LabelledSingerList.cs
  osu.Game.Rulesets.Karaoke/Edit/Setup/Components/SingerDisplay.cs
  osu.Game.Rulesets.Karaoke/Edit/Setup/Components/SingerList.cs
  osu.Game.Rulesets.Karaoke/Edit/Setup/KaraokeSingerSection.cs
Labels: editor, size/L
