Repository karaoke-dev/karaoke, pull requests merged in 2024-11, with the labels that each got.

#2298 Move the stage's start/end time from hit-object to drawable layer.
  osu.Game.Rulesets.Karaoke.Tests/Beatmaps/Formats/KaraokeLegacyBeatmapEncoderTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/Stages/StageElementCategoryChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Checks/CheckLyricTimeTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Helper/TestCaseTagHelper.cs
  osu.Game.Rulesets.Karaoke.Tests/IO/Serialization/Converters/LyricConverterTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Integration/Formats/KarDecoderTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Integration/Formats/LrcEncoderTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModPerfect.cs
  osu.Game.Rulesets.Karaoke.Tests/Objects/LyricTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Objects/Utils/LyricUtilsTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Objects/Utils/LyricsUtilsTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Objects/Workings/LyricWorkingPropertyValidatorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Skinning/TestSceneLyric.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmapProcessor.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Stages/ClassicStageChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/Checks/CheckBeatmapPageInfo.cs
  osu.Game.Rulesets.Karaoke/Edit/Checks/CheckLyricTime.cs
  osu.Game.Rulesets.Karaoke/Edit/Checks/Issues/LyricIssue.cs
  osu.Game.Rulesets.Karaoke/Edit/Checks/Issues/LyricTimeTagIssue.cs
  osu.Game.Rulesets.Karaoke/Edit/Generator/Beatmaps/Pages/PageGenerator.cs
  osu.Game.Rulesets.Karaoke/Edit/Generator/Stages/Classic/ClassicLyricTimingInfoGenerator.cs
  osu.Game.Rulesets.Karaoke/Edit/KaraokeBeatmapVerifier.cs
  osu.Game.Rulesets.Karaoke/Edit/Utils/HitObjectWritableUtils.cs
  osu.Game.Rulesets.Karaoke/Mods/ModStage.cs
  osu.Game.Rulesets.Karaoke/Objects/Drawables/DrawableKaraokeHitObject.cs
  osu.Game.Rulesets.Karaoke/Objects/Drawables/DrawableLyric.cs
  osu.Game.Rulesets.Karaoke/Objects/Lyric.cs
  osu.Game.Rulesets.Karaoke/Objects/Lyric_Binding.cs
  osu.Game.Rulesets.Karaoke/Objects/Lyric_Working.cs
  osu.Game.Rulesets.Karaoke/Objects/Utils/LyricUtils.cs
  osu.Game.Rulesets.Karaoke/Objects/Utils/LyricsUtils.cs
  osu.Game.Rulesets.Karaoke/Objects/Workings/LyricWorkingProperty.cs
  osu.Game.Rulesets.Karaoke/Objects/Workings/LyricWorkingPropertyValidator.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Content/Compose/BottomEditor/AdjustTimeTags/AdjustTimeTagScrollContainer.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Content/Compose/BottomEditor/Notes/NoteEditor.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Settings/TimeTags/RecordingTapControl.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Singers/Rows/Components/Timeline/SingerLyricEditorBlueprintContainer.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Singers/Rows/Components/Timeline/SingerLyricTimeline.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Components/Issues/IssueIcon.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Components/Timeline/EditableLyricTimelineSelectionBlueprint.cs
  osu.Game.Rulesets.Karaoke/Screens/Settings/Previews/Gameplay/LyricPreview.cs
  osu.Game.Rulesets.Karaoke/Screens/Settings/Previews/Gameplay/NotePlayfieldPreview.cs
  osu.Game.Rulesets.Karaoke/Screens/Skin/Style/LyricStylePreview.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/IStageHitObjectRunner.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/StageHitObjectRunner.cs
  osu.Game.Rulesets.Karaoke/Stages/HitObjectCommandGenerator.cs
  osu.Game.Rulesets.Karaoke/Stages/IHitObjectCommandGenerator.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/Classic/ClassicStageDefinition.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/Preview/PreviewStageInfo.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/Preview/PreviewStageTimingCalculator.cs
  osu.Game.Rulesets.Karaoke/UI/LyricPlayfield.cs
  osu.Game.Rulesets.Karaoke/UI/PlayerSettings/LyricsPreview.cs
Labels: code quality, size/XL, Stage

#2299 Fix editor setup screen not loading
  osu.Game.Rulesets.Karaoke/Edit/Setup/KaraokeSingerSection.cs
Labels: size/XS

#2300 Upgrade package to latest.
  osu.Game.Rulesets.Karaoke.Tests/Ranking/TestSceneResultsScreen.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Lyrics/Content/Compose/BottomEditor/AdjustTimeTags/AdjustTimeTagBlueprintContainer.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Components/Timeline/EditableTimelineBlueprintContainer.cs
  osu.Game.Rulesets.Karaoke/osu.Game.Rulesets.Karaoke.csproj
Labels: updates, size/L

#2301 Implement stage wrapper and move the stage-related property to drawable layer.
  osu.Game.Rulesets.Karaoke.Tests/Objects/Workings/LyricWorkingPropertyValidatorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Objects/Workings/NoteWorkingPropertyValidatorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Skinning/TestSceneLyric.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmapProcessor.cs
  osu.Game.Rulesets.Karaoke/Mods/KaraokeModClassicStage.cs
  osu.Game.Rulesets.Karaoke/Mods/KaraokeModPreviewStage.cs
  osu.Game.Rulesets.Karaoke/Mods/ModStage.cs
  osu.Game.Rulesets.Karaoke/Objects/Drawables/DrawableKaraokeHitObject.cs
  osu.Game.Rulesets.Karaoke/Objects/Lyric_Working.cs
  osu.Game.Rulesets.Karaoke/Objects/Note_Working.cs
  osu.Game.Rulesets.Karaoke/Objects/Types/IHasCommandGenerator.cs
  osu.Game.Rulesets.Karaoke/Objects/Workings/LyricWorkingProperty.cs
  osu.Game.Rulesets.Karaoke/Objects/Workings/LyricWorkingPropertyValidator.cs
  osu.Game.Rulesets.Karaoke/Objects/Workings/NoteWorkingProperty.cs
  osu.Game.Rulesets.Karaoke/Objects/Workings/NoteWorkingPropertyValidator.cs
  osu.Game.Rulesets.Karaoke/Screens/Settings/Previews/Gameplay/LyricPreview.cs
  osu.Game.Rulesets.Karaoke/Screens/Settings/Previews/Gameplay/PreviewLyricCommandGenerator.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/DrawableStage.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/IStageHitObjectRunner.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/StageHitObjectRunner.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/Preview/PreviewStageInfo.cs
  osu.Game.Rulesets.Karaoke/UI/DrawableKaraokeRuleset.cs
  osu.Game.Rulesets.Karaoke/UI/KaraokePlayfield.cs
  osu.Game.Rulesets.Karaoke/UI/LyricPlayfield.cs
Labels: size/L

#2302 Refactor stage interface.
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/Stages/ClassicStageChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/Stages/StageElementCategoryChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/Stages/StagesChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Checks/CheckBeatmapClassicStageInfoTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Checks/CheckBeatmapStageInfoTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Generator/Stages/BaseStageElementCategoryGeneratorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Generator/Stages/BaseStageInfoGeneratorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Generator/Stages/StageInfoGeneratorSelectorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/IO/Serialization/Converters/StageInfoConverterTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/KaraokeModStageTestScene.cs
  osu.Game.Rulesets.Karaoke.Tests/Mods/TestSceneKaraokeModPerfect.cs
  osu.Game.Rulesets.Karaoke.Tests/Objects/Workings/LyricWorkingPropertyValidatorTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Skinning/TestSceneLyric.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmap.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Stages/ClassicStageChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Stages/IStageElementCategoryChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Stages/IStagesChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Stages/StageElementCategoryChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Stages/StagesChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/Checks/CheckBeatmapStageInfo.cs
  osu.Game.Rulesets.Karaoke/Edit/Generator/Stages/Classic/ClassicStageInfoGenerator.cs
  osu.Game.Rulesets.Karaoke/Edit/Generator/Stages/Preview/PreviewStageInfoGenerator.cs
  osu.Game.Rulesets.Karaoke/Edit/Generator/Stages/StageInfoGenerator.cs
  osu.Game.Rulesets.Karaoke/Edit/Generator/Stages/StageInfoGeneratorSelector.cs
  osu.Game.Rulesets.Karaoke/IO/Serialization/Converters/StageInfoConverter.cs
  osu.Game.Rulesets.Karaoke/Objects/Drawables/DrawableKaraokeHitObject.cs
  osu.Game.Rulesets.Karaoke/Objects/Lyric_Working.cs
  osu.Game.Rulesets.Karaoke/Objects/Note_Working.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Singers/SingerRearrangeableList.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Beatmaps/Singers/SingerRearrangeableListItem.cs
  osu.Game.Rulesets.Karaoke/Stages/Commands/IStageCommand.cs
  osu.Game.Rulesets.Karaoke/Stages/Commands/StageAnchorCommand.cs
  osu.Game.Rulesets.Karaoke/Stages/Commands/StageOriginCommand.cs
  osu.Game.Rulesets.Karaoke/Stages/Commands/StagePaddingCommand.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/DrawableStage.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/StageHitObjectRunner.cs
  osu.Game.Rulesets.Karaoke/Stages/HitObjectCommandProvider.cs
  osu.Game.Rulesets.Karaoke/Stages/IHitObjectCommandGenerator.cs
  osu.Game.Rulesets.Karaoke/Stages/IHitObjectCommandProvider.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/Classic/ClassicLyricCommandProvider.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/Classic/ClassicStageInfo.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/Preview/PreviewLyricCommandProvider.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/Preview/PreviewStageInfo.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/StageInfo.cs
  osu.Game.Rulesets.Karaoke/UI/DrawableKaraokeRuleset_Stage.cs
  osu.Game.Rulesets.Karaoke/UI/Stages/PlayfieldStageApplier.cs
Labels: size/L

#2304 Implement create drawable element in the drawable stage.
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/Stages/StageElementCategoryChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Stages/Drawables/TestSceneDrawableStageBeatmapCoverInfo.cs
  osu.Game.Rulesets.Karaoke/Stages/Commands/StageHeightCommand.cs
  osu.Game.Rulesets.Karaoke/Stages/Commands/StageWidthCommand.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/DrawableStage.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/DrawableStageBeatmapCoverInfo.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/IStageElementRunner.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/StageElementRunner.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/StagePlayfieldRunner.cs
  osu.Game.Rulesets.Karaoke/Stages/IStageElement.cs
  osu.Game.Rulesets.Karaoke/Stages/IStageElementProvider.cs
  osu.Game.Rulesets.Karaoke/Stages/IStageElementWithDuration.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/Classic/ClassicStageInfo.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/Preview/PreviewElementProvider.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/Preview/PreviewStageInfo.cs
  osu.Game.Rulesets.Karaoke/Stages/Infos/StageInfo.cs
  osu.Game.Rulesets.Karaoke/Stages/StageBeatmapCoverInfo.cs
  osu.Game.Rulesets.Karaoke/Stages/StageElementProvider.cs
  osu.Game.Rulesets.Karaoke/Stages/StageSprite.cs
  osu.Game.Rulesets.Karaoke/UI/DrawableKaraokeRuleset.cs
  osu.Game.Rulesets.Karaoke/UI/DrawableKaraokeRuleset_Stage.cs
  osu.Game.Rulesets.Karaoke/UI/IAcceptStageComponent.cs
  osu.Game.Rulesets.Karaoke/UI/KaraokePlayfield.cs
  osu.Game.Rulesets.Karaoke/UI/Stages/Classic/PlayfieldClassicStageApplier.cs
  osu.Game.Rulesets.Karaoke/UI/Stages/IPlayfieldStageApplier.cs
  osu.Game.Rulesets.Karaoke/UI/Stages/IStageComponent.cs
  osu.Game.Rulesets.Karaoke/UI/Stages/PlayfieldStageApplier.cs
  osu.Game.Rulesets.Karaoke/UI/Stages/Preview/PlayfieldPreviewStageApplier.cs
Labels: size/XL, Stage

#2305 Remove stage info from beatmap.
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/BaseChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/Stages/BaseStageInfoChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/Stages/ClassicStageChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/Stages/StageElementCategoryChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/ChangeHandlers/Stages/StagesChangeHandlerTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Checks/CheckClassicStageInfoTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Editor/Checks/CheckStageInfoTest.cs
  osu.Game.Rulesets.Karaoke.Tests/Screens/Edit/Stages/Classic/ClassicStageScreenTestScene.cs
  osu.Game.Rulesets.Karaoke.Tests/Screens/Edit/Stages/Classic/TestSceneClassicStageEditor.cs
  osu.Game.Rulesets.Karaoke.Tests/Screens/Edit/Stages/Classic/TestSceneStageScreen.cs
  osu.Game.Rulesets.Karaoke/Beatmaps/KaraokeBeatmap.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Stages/ClassicStageChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Stages/StageElementCategoryChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Stages/StagePropertyChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/ChangeHandlers/Stages/StagesChangeHandler.cs
  osu.Game.Rulesets.Karaoke/Edit/Checks/CheckClassicStageInfo.cs
  osu.Game.Rulesets.Karaoke/Edit/Checks/CheckStageInfo.cs
  osu.Game.Rulesets.Karaoke/Edit/KaraokeBeatmapVerifier.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Components/Issues/IssueIcon.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Stages/Classic/Stage/StageEditorVerifier.cs
  osu.Game.Rulesets.Karaoke/Screens/Edit/Stages/Classic/Stage/StageScreen.cs
  osu.Game.Rulesets.Karaoke/Stages/Drawables/DrawableStage.cs
Labels: size/XL
